/* For devices below 600px in width */
@media only screen and (max-width: 600px) {
    .reference-links {
        position: absolute;
        left: 140px;
        margin: 5px;
        font-weight: 100;
    }

    .concept-detail-logo {
        position: absolute;
        right: 30px;
        top: -15px;
    }
} 

/* from resolutions with 600px width and up */
@media only screen and (min-width: 600px) {
    .reference-links {
        position: absolute;
        left: 150px;
        margin: 5px;
        font-weight: 100;
    }

    .concept-detail-logo {
        position: absolute;
        right: 55px;
        top: -15px;
    }
} 