.noteditor_main_div {
    /* Dimensions */
    max-width: 485px;
    min-height: 300px;

    /* Horizontal Middle */
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;

    /* Vertical Middle */
    position: relative;


    /* top: 50%; */
    /* transform: perspective(1px) translateY(-50%); */
    
    /* Make area scrollab
    e */
    overflow: auto;

    height: 100%;

    /* /height: 200px; */
}

.noteditor-paper {
    /* min-height: 300px; */

    padding: 15px 30px 15px 30px;

    margin-bottom: 15px;
}

.notetaker-header {
    /* Put header in the middle */
    margin: auto;

    /* push header down a little */
    padding-top: 8px;
}


.modal-background [class*="MuiBackdrop"] {
    background-color: rgba(210, 210, 210, 0.6);
}

.note-action-button-bottom {
    /* Pretty align below paper, AND IN HORIZONTAL MIDDLE OF CARD */
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);

    /* Looks */
    background-color: white !important;
    padding: 4px;
    min-width: 4px !important;

    /* Shadow */
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.note-action-button-right {
    position: absolute !important;

    /* Position in the cemter Y axis */
    top: 50%;
    transform: translateY(-50%);

    /* Position to the right of card */
    right: -5px;

    /* Looks */
    background-color: white !important;
    padding: 8px;
    min-width: 4px !important;

    /* Shadow */
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

/* Rows in which the notes appear */
.noteblock-row-container {
    position: relative;
    width: 600px;
    height: 75px;
}

/* Noteblock containers in which the notes appear */
.noteblock-container {
    position: relative;
    /* min-width: 300px; */
    /* padding: 5%; */
}

/* here we change the min-width, depending on the actual width of the screen */

        /* on mobile */
        @media only screen and (max-width: 600px) {
            .noteblock-container {
                padding: 3%;
            }
        }

        /* on bigger than mobile */
        @media only screen and (min-width: 600px) {
            .noteblock-container {
                padding: 3%;
            }
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            .noteblock-container {
                padding: 2%;
            }
        } 

