/* General Layout, Colors, Fonts, ... */

body {
    /* background: linear-gradient(#fff, rgba(0, 157, 197, 0.29) ); */
    background: linear-gradient(#fff, rgba(239, 128, 80, 0.06) );
    /* background: linear-gradient(#009dc5, #00556b); */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Nunito", "Roboto", "Helvetica", "Arial" !important;
}

.container {
    padding: 0px !important; /* Fixing sideline issues here */
}

.form-ghost {
    /* background-color: black; */
    outline-color: black 0px !important;
    outline-width: 5px 0px !important;
}

.form-ghost-drop {
    /* background-color: black; */
    outline-color: black 0px !important;
    outline-width: 5px 0px !important;
}

.particle-background {
    overflow: hidden;

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.loading-sign{
    top: 50%;
    position: absolute;
    left: 50%;
}

.form-newuser {
    top: 20%;
    width: 80%;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    left: 0px;
}

/* Menus*/
.menubar {
    background-color: transparent !important;
    box-shadow: none !important;
    min-height: 64px !important;

    position: absolute !important;
}

.toolbar{
    height: 80px;
}

.menubar-header {
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    font-weight: 500 !important;
    font-size: 1.5rem !important;

    margin-left: 0px !important;
    margin-top: 3px !important;
}

.footer{
    /* margin-left: -5%; */
    /* position: absolute; */
    /* width: 100%; */
    bottom: 0;
    margin-bottom: 3px;
}

.footer-image{
    height: 30px;
    margin: 1px 7px 7px 7px;
}

.footer-typography{
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    font-weight: 200 !important;
    font-size: 1rem !important;

    margin-left: 0px !important;
    margin-top: 3px !important;
}

/* Groups */
.groups-masonry {
    /* Space for header */
    margin-top: 64px;
    padding-top: 10px;

    /* Space for footer */
    padding-bottom: 40px;
}

.board_overview_board{
    border-radius: 44px !important;
}

.board_group_card{
    border-radius: 22px !important;
    margin-left: auto;
    margin-right: auto;
}

.group-item {
    width: 350px;
    height: auto;
    max-height: 100%;
}

/* subgroup styling */

.subgroup-header{
    padding: 0px !important;
    margin-top: 5px;
    margin-bottom: 15px;
}

.subgroup-header [class*="MuiCardHeader-subheader"] {
    color: var(--parent-color);
    font-size: 1.5rem;
    text-align: center;
}

/* Concepts */

.holon-lvl-4 {
    width: 75px;
}

.concept-grid-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.concept-grid {
    margin-left: auto;
    margin-right: auto;

    display: block !important;
    overflow-y: scroll;
}

.concept-logo-small {
    max-height: 50px;
    max-width: 75px;
    padding: 5px;

    margin-left: auto;
	margin-right: auto;
    display: block;
}

/* Animate shadows on hover */
.concept-item{
    box-shadow: 0 0px 0px rgba(0,0,0,0.15);
    transition: box-shadow 0.21s ease-in-out;
    cursor: pointer;

    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 4px
}

.concept-item:hover{
    box-shadow: 0px 2.618px 5px rgba(0,0,0,0.3);
}



.concept-item-header {
    padding: 0px !important;
    text-align: center;
    /* background: rgb(43, 133, 207); */
}

.concept-item-header [class*="MuiCardHeader-subheader"] {
    /* color: #fff; */
    font-weight: 100;
    font-size: 0.8rem;
}

/* to align detail icons in the middle of the text align */
li [class*="MuiSvgIcon"] {
    margin-bottom:3px;
}



.concept-item-content {
    padding: 0px !important;
}

/* Concept Details */
.concept-detail-backdrop {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo-animated-anim {
    overflow:visible;
}



.concept-detail-logo img {
    max-height: 60px;
    max-width: 120px;
    padding: 5px;

    margin-left: auto;
	margin-right: auto;
    display: block;
}

#concept-detail-popper {
    top: -10px !important;
    left: -5px !important;
    z-index: 3;
}

.concept-detail-card-div {
    max-width: 750px;
    max-height: 600px;

    width: 95%;
    height: auto;
    
    overflow: visible !important;

    position:relative;

    margin: auto;

    /* left: 50%;
    transform: translate(-50%, -50%); */
}

/* For devices below 600px in width */
@media only screen and (max-width: 600px) {
    .concept-detail-card-div {
        top: 4%;
    }
} 

/* from resolutions with 600px width and up */
@media only screen and (min-width: 600px) {
    .concept-detail-card-div {
        top: 20%;
    }
} 

.concept-detail-card {
    width: 100%;
    height: 100%;

    overflow: visible !important;

    /* padding: 20px; */ 
}

.concept-detail-card-header {
    /* to compensate for overflow:visible! */
    border-radius: 4px 4px 0px 0px;
    padding: 8px 16px 4px 16px;
}

.concept-detail-card-header [class*="MuiCardHeader-title"]{
    color: inherit;
    font-size: 1.5rem;
}

.concept-detail-media {
    height: 50px;
}

.concept-detail-content {
    max-height: 400px;
    overflow-y: auto;  
}

.details-column {
    margin-bottom: 10px;
}

/* Markdown font setting */
.concept-detail-content h1 {
    font-size: 30px;
}

.concept-detail-content h2 {
    font-size: 22px;
}

.concept-detail-content h3 {
    font-size: 18px;
}

.concept-short-copy-header {
    font-size: 16px !important;
    font-weight: 200 !important;
}

.trade-off-icon {
    vertical-align: middle !important;
}

/* FORMS */
.form-group{
    margin-bottom: 0px !important;
}

.form-add-concept {
    max-width: 750px;
    max-height: 600px;

    width: 95%;
    height: auto;

    padding: 0px;

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-add-concept-paper {
    max-height: 80%;
}

.delete-button-edit-form {
    margin-top: 2px !important;
}

.frame {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: white;
    transform: translateZ(0);
  }

.add-group-id-button{
    padding: 4px !important;
}

.add-button-in-col {
    width: 300px;
    height: 75px;
    margin-top: 25px !important;

    border-radius: 44px !important;

    box-shadow: 0 0px 0px rgba(0,0,0,0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
}

.home-overview-header {
    margin-top: 15px !important;
    margin-bottom: 20px !important;
}

.gradient-select-form {
    width: 100%;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.board-background-characteristics {
    top: 0px;
    left: 0px;
    height: 5px;
    width: 100vw;
    position: fixed;
}

/* Subgroup headers */
.RootGroupHeaderHome .MuiCardHeader-action {
    
}

/* ACTIONS IN HEADERS */

.RootGroupHeader .MuiCardHeader-action {
    right: 20px;
    float: right;
    position: absolute;
}

.RootGroupHeader .MuiIconButton-root {
    color: inherit;
}

.subgroup-header .MuiCardHeader-action {
    right: -4px;
    float: right;
    position: absolute;
}

.RootGroupHeaderHome .MuiIconButton-root {
    color: inherit;
}

/* TITLE & HEADER */
.RootGroupHeader .MuiCardHeader-title {
    color: inherit;
}

.RootGroupHeader .MuiCardHeader-subheader {
    color: inherit;
    font-weight: 200;
}

.RootGroupHeaderHome .MuiCardHeader-title {
    color: inherit;
}

.RootGroupHeaderHome .MuiCardHeader-subheader {
    color: inherit;
    font-weight: 200;
}

.overview-masonry > div > div {
    width: 100%;
}

.concept-detail-card-header .MuiIconButton-root {
    color: inherit;
}

.add-concept-floating-button {
    width: 20px !important;
    height: 20px !important;
    min-height: 20px !important;
}

.add-concept-floating-button .MuiSvgIcon-root {
    height: 10px;
}

.concept-edit-button {
    float: right;
    bottom: 50px;
    right: 10px;
}