/* General Layout, Colors, Fonts, ... */

body {
    background: linear-gradient(#fff, rgba(0, 157, 197, 0.29) );
    /* background: linear-gradient(#009dc5, #00556b); */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.particle-background {
    overflow: hidden;

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -2;
}

/* Menus*/
.menubar {
    background-color: #006D89 !important;
    height: 64px;
}

/* Groups */
.groups-masonry {
    margin-top: 64px;
    padding-top: 10px;
}

.group-item {
    width: 350px;
    height: auto;
    max-height: 100%;
}

.RootGroupHeader [class*="MuiCardHeader-title"] {
    color: #fff;
}

.RootGroupHeader [class*="MuiCardHeader-subheader"] {
    color: #fff;
    font-weight: 200;
}

/* subgroup styling */

.subgroup-header{
    padding: 0px !important;
    margin-top: 5px;
    margin-bottom: 15px;
}


.subgroup-header [class*="MuiCardHeader-subheader"] {
    color: var(--parent-color);
    font-size: 1.5rem;
    text-align: center;
}

/* Concepts */

.concept-masonry-item{
    margin-right: 6px;
}

.concept-logo-small {
    max-height: 50px;
    max-width: 75px;
    padding: 5px;

    margin-left: auto;
	margin-right: auto;
    display: block;
}

/* Concept Details */
.concept-detail-backdrop {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo-animated-anim {
    overflow:visible;
}

.concept-detail-logo {
    position: absolute;
    /* left: 50%; 
    transform: translate(-50%,0);
    right: 10%; */
    right: 55px;
    top: -15px;
}

.concept-detail-logo img {
    max-height: 60px;
    max-width: 120px;
    padding: 5px;

    margin-left: auto;
	margin-right: auto;
    display: block;
}

#concept-detail-popper {
    top: -10px !important;
    left: -5px !important;
    z-index: 3;
}

.concept-detail-card-div {
    max-width: 550px;
    max-height: 600px;

    width: 95%;
    height: auto;
    
    overflow: visible !important;

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.concept-detail-card {
    width: 100%;
    height: 100%;

    overflow: visible !important;

    /* padding: 20px; */ 
}

.concept-detail-card-header {
    /* to compensate for overflow:visible! */
    border-radius: 4px 4px 0px 0px;
}

.concept-detail-card-header [class*="MuiCardHeader-title"]{
    color: #fff;
    font-size: 1.5rem;
}

.concept-detail-media {
    height: 50px;
}

.concept-detail-content {
    max-height: 400px;
    overflow-y: auto;  
}

/* Markdown font setting */
.concept-detail-content h1 {
    font-size: 30px;
}

.concept-detail-content h2 {
    font-size: 22px;
}

.concept-detail-content h3 {
    font-size: 18px;
}

.trade-off-icon {
    vertical-align: middle !important;
}

/* FORMS */
.form-group{
    margin-bottom: 0px !important;
}

.form-add-concept-paper {

    /* width: 550px;
    max-width: 600px; */

    max-width: 650px;
    max-height: 600px;

    width: 95%;
    height: auto;

    overflow-y: auto;

    padding: 15px;

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-add-concept-paper {
    max-height: 80%;
}